<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mobileapp">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileApp"
        tools:targetApi="31">
        <activity
            android:name=".UI.AssessmentAdd"
            android:exported="false" />
        <activity
            android:name=".UI.AssessmentAddEdit"
            android:exported="false"
            android:label="Assessment Editor" />
        <activity
            android:name=".UI.CourseAddEdit"
            android:exported="false"
            android:label="Course Editor" />
        <activity
            android:name=".UI.InstructorAddEdit"
            android:exported="false"
            android:label="Instructor Editor" />
        <activity
            android:name=".UI.TermEdit"
            android:exported="false"
            android:label="Edit Term" />
        <activity
            android:name=".UI.TermAdd"
            android:exported="false"
            android:label="Add New Term" />
        <activity
            android:name=".UI.TermList"
            android:exported="false"
            android:label="My Terms" />
        <activity
            android:name=".UI.MainActivity"
            android:exported="true"
            android:label="WGU Scheduler">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>